.card{
    width: 420px;
    background-color: #c9c7c3;
    color: #2F3645;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    border: 1px solid #2F3645;
    img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px 10px; 
        margin-top: 15px;
        transition: 1s;
        &:hover{
            transform: scale(1.2);
        }

    }
    &-body{
        padding: 5px;
        h4{
            text-align: center;
            font-size: 15px;
            font-weight: bold;
        }
    }
}
.delete,.edit{
    position: absolute;
    height: 100%; 
    width: 20px;   
    top: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    
}
.delete{
    left: 0;
    border-radius: 10px 0 0 10px;
    background-color:  #E6B9A6;
    &:hover{
        width: 40%;
        opacity: 1;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}
.edit{
    right: 0;
    border-radius: 0 10px 10px 0;
    background-color: #2F3645;
    &:hover{
        width: 60%;
        opacity: 1;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}