nav{
    background-color: #E6B9A6;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    font-size: large;
    h3{
        font-size: 20px;
    }
    .liste{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
        
        li{
            font-size: 20px;
            transition: .5s;
            cursor: pointer;
            &:hover{
                color:#2F3645;
                text-decoration: underline;
                transform: scale(1.2);  
            }
        }
    }
}